/* ==========================
   Método Paco v0.7
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111827;
    color:#ffffff;
}

.header{
    background:#1f2937;
    padding:20px;
    text-align:center;
    border-bottom:2px solid #374151;
}

.header h1{
    font-size:32px;
    margin-bottom:5px;
}

.header p{
    color:#d1d5db;
}

.container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

.card{
    background:#1f2937;
    border:1px solid #374151;
    border-radius:12px;
    padding:20px;
    margin-bottom:15px;
    cursor:pointer;
    transition:.25s;
}

.card:hover{
    transform:scale(1.02);
    border-color:#2563eb;
}

.card h2{
    margin-bottom:8px;
}

.card p{
    color:#d1d5db;
}

.activo{
    background:#1f2937;
    border:1px solid #374151;
    border-radius:12px;
    padding:18px;
    margin-bottom:18px;
}

.activo h3{
    margin-bottom:12px;
}

.activo p{
    margin:8px 0;
}

input{
    width:100%;
    padding:12px;
    margin:8px 0;
    border:none;
    border-radius:8px;
    font-size:16px;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.2s;
}

button:hover{
    background:#1d4ed8;
}

.oculto{
    display:none;
}

.pantalla{
    margin-top:20px;
}

h2{
    margin-bottom:15px;
}

h3{
    margin-bottom:12px;
}

ul{
    margin-left:20px;
    margin-top:10px;
}

li{
    margin-bottom:8px;
}

#lista button{
    margin-top:8px;
}